<div class="conteiner">
    <table> 
        <tr>
            <th>id</th>
            <th>username</th>
            <th>passwd</th>
        </tr>
        
    </table>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">username</th>
        <th scope="col">passwd</th>
      </tr>
    </thead>
    <tbody>
    {% for users in user_dict %}
    <tr>
        <th>{{users.id}}</th>
        <th>{{users.username}}</th>
        <th>{{users.passwd}}</th>
        </tr>
    {% endfor %}
    