{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static 'crud_user/styles/register.css' %}">
<html>
<body>
	{% include 'crud_user/partials/header.html' %}
	{% include 'crud_user/partials/headerCars.html' %}
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Register</h3>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<input type="text" class="form-control" placeholder="username">
					</div>
					<div class="input-group form-group">
						<input type="password" class="form-control" placeholder="password">
					</div>
					<div class="group-btn-links">
						<button href= "homepage/"class = "btn float-right login_btn">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>